@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/league_gothic-webfont.eot');
    src: url('../fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic-webfont.woff') format('woff'),
         url('../fonts/league_gothic-webfont.ttf') format('truetype'),
         url('../fonts/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
	background-color: #DFF4E9;
	color: #2F3443
}

h1{
	font-family: "LeagueGothic","Helvetica Neue","Helvetica","Arial";
	font-size: 60px;
	line-height: 60px;
	color: #EB2E4D;
}

h3{
	color: #666F75;
	margin-bottom: 50px;
}

.hipchat-text {
	padding: 30px;
	font-size: 13px;
	line-height: 18px;
	background-color:rgba(255,255,255,0.5);
	margin: 0 20px 150px 20px;
	margin: 0 auto;
}

.hipchat-text span {
	font-style: italic;
}

.hipchat-text2 {
	margin-top: 50px;
}

.joe {
	float: left;
	width: 170px;
	margin: 0 20px 20px 0;
}

.regular-expression {
	float: right;
	width: 350px;
	margin: 0 0 20px 20px;
	max-width: 100%;
}

.regular-expression span {
	font-weight: bold;
	line-height: 30px;
}

.regular-expression img{
	width: 100%;
}

#legend {
	background-color: #CDD2FF;
}

#content {
	position: relative;
	margin: 0, auto;
}