body {
	font-family: 'Nobile', sans-serif;
	background-color: #C9F2BA;
}

#content {
	font-family: 'Nobile', sans-serif;
	margin: auto;
	margin-left: 20px
}

#text {
	font-family: 'Nobile', sans-serif;
	font-size: 12px;
	margin-left: 60px;
	max-width: 800px;
	margin-top: 20px
}

#text2 {
	font-family: 'Nobile', sans-serif;
	font-size: 12px;
	margin-left: 60px;
	max-width: 800px;
	margin-top: -50px;
	margin-bottom: 50px;
}

#joe {
	width: 150px;
}


#legend {
	background-color: #CDD2FF;
}

#photo {
	font-family: 'Nobile', sans-serif;
	font-size: 11px;
	width: 300px;
	margin-left: 100px;
	margin-bottom: 30px;
	margin-top: 30px;
}

h3{
	margin-bottom: 50px
}

span {
	font-weight: bold
}